<ion-header>
  <ion-toolbar>
    <ion-title>MUSIC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/itzy.jpg">
      <ion-card-subtitle>Itzy</ion-card-subtitle>
      <ion-card-title>SNEAKERS</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/pano.jpg">
      <ion-card-subtitle>Iz*one</ion-card-subtitle>
      <ion-card-title>PANORAMA</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/classy.jpg">
      <ion-card-subtitle>Class:y</ion-card-subtitle>
      <ion-card-title>SHUTDOWN</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/pop.jpg">
      <ion-card-subtitle>Nayeon (Soloist)</ion-card-subtitle>
      <ion-card-title>POP</ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>
