<ion-header>
  <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/patrice.jpg">
      <ion-card-subtitle>Patrice Casanova</ion-card-subtitle>
      <ion-card-title>"Peram ng Liptint"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/rina.jpg">
      <ion-card-subtitle>Rina Nicole</ion-card-subtitle>
      <ion-card-title>"Check by Rina Bae"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/wana.jpg">
      <ion-card-subtitle>Jhoannah Leigh</ion-card-subtitle>
      <ion-card-title>"Chiki Girl"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/lyra.jpg">
      <ion-card-subtitle>Lyra Quinn</ion-card-subtitle>
      <ion-card-title>"Jungle Girl"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/christine.jpg">
      <ion-card-subtitle>Christine Rey</ion-card-subtitle>
      <ion-card-title>"Help! 1% nalang ako"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/kharina.jpg">
      <ion-card-subtitle>Kharina Faith</ion-card-subtitle>
      <ion-card-title>"Na oa ka!"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/izzay.jpg">
      <ion-card-subtitle>Princess Izzay</ion-card-subtitle>
      <ion-card-title>"Anong gamit mong deo?!"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/kamille.jpg">
      <ion-card-subtitle>Maria Kamille</ion-card-subtitle>
      <ion-card-title>"I'm not a drunk"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/jenny.jpg">
      <ion-card-subtitle>Jenny Mae</ion-card-subtitle>
      <ion-card-title>"Hot Bi ng Manghinao"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/shanaya.jpg">
      <ion-card-subtitle>Shanaya Amara</ion-card-subtitle>
      <ion-card-title>"Face Reveal"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/louisse.jpg">
      <ion-card-subtitle>Louisse Mae</ion-card-subtitle>
      <ion-card-title>"Make up guru! Eyeshadow Gods!"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/jemma.jpg">
      <ion-card-subtitle>Jemma Rose</ion-card-subtitle>
      <ion-card-title>"Alam ng haling ang tao"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/kym.jpg">
      <ion-card-subtitle>Addison Kym</ion-card-subtitle>
      <ion-card-title>"Maganda ka nga, may kuto ka naman!"</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/maria.jpg">
      <ion-card-subtitle>Maria Geraldine</ion-card-subtitle>
      <ion-card-title>"Sinong ka talkie talkie mo?"</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

