<ion-header>
  <link type="text/css" rel="stylesheet" href="https://www.dropbox.com/s/trsldt0me90jzs8/resume.css"/>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/patrice.jpg">
      <ion-card-subtitle>Patrice Rey</ion-card-subtitle>
      <ion-card-title>I'm Pat an extrovert person who loves to dance and make tiktok (before) but now I more prefer watching movies all day.</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/rina.jpg">
      <ion-card-subtitle>Rina Nicole</ion-card-subtitle>
      <ion-card-title>Darren Rey M. Talain is my true name. My nickname Darina itself was shortened to the name Rina, which is what most of my friends call me. I am an appreciative person. I am a person who always values everything, no matter how small or big it is. Anxiety is a mental health issue I have. In the middle of 2020, when Covid-19 was widespread in the Philippines, my anxiety first became apparent. When I was placed under quarantine in our house, my anxiety went up.</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/wana.jpg">
      <ion-card-subtitle>Jhoannah Leigh</ion-card-subtitle>
      <ion-card-title>Best in Morlikan</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/icon/lyra.jpg">
      <ion-card-subtitle>Lyra Quinn</ion-card-subtitle>
      <ion-card-title>Kops sa parangan ng 3am</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>

