<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>CALLIE ALLEIGH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align=" center">
    <div lass="img"><img src="assets/barbie.jpg"></div> 
    </div>
  <ion-card>
    <ion-card-header>
      <h5> BARBIEDOLLS </h5>  
      <ion-card-subtitle>It is very cultural in the Philippines to worry our parents about facing judgment and discrimination for being gay. Criticism from others hindered us from letting ourselves be what we want to be: being gay. We proved to our family that being gay is not a big problem and therefore, will never be a problem. As years passed by, our family learned to accept us and gave us unwavering support in everything. We saw how, despite this fear, we gradually disclosed our true selves.
      </ion-card-subtitle>

      <ion-card-subtitle>Playing volleyball all day on our Mangoville court was where all started in 2015. Through friendship, we disclosed our true selves to each other, bringing out the rainbow's array of hues. Due to the respect and genuine camaraderie that we uphold, we are viewed positively by the people of our own community. Our usuan habit as an unique princess of our beloved barangay is to show love and entertainment to others, particularly in our community. The Barbiedolls family is made up of many of beautiful and attention-seeking people. Volleyball is one of our favorite hobbies to do together. Our relationship developed and bloomed through volleyball. We cannot deny the fact that we are recognized for being attention seekers due of the way we entertain and give happiness to others. We can say that it is something that we are really proud of. Above all, we may say that our main goal is to spread happiness, fondness, and optimism to others.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

