<ion-app>
    <ion-menu contentId="main-content" type="overlay">

              <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Callie Alleigh</ion-list-header>
          <ion-note>calliealleigh@gmail.com</ion-note>
        </ion-list>
        <ion-item>
          <ion-icon name="id-card" slot="start"></ion-icon>
          <ion-label>Student Information</ion-label>
          
        </ion-item>
        
        <ion-item>
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>Volleyball & Academic Awards</ion-label>
          
        </ion-item>
  
        <ion-item>
          <ion-icon name="list" slot="start"></ion-icon>
          <ion-label>Kpop Groups</ion-label>
          
        </ion-item>
        <ion-item>
          <ion-icon name="headset" slot="start"></ion-icon>
          <ion-label>List of Music</ion-label>
          
        </ion-item>
    
  
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-app>
