<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Volleyball & Academic Awards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>1st Semester, Second Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister / GWA: 1.57</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2nd Semester, Second Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister / GWA: 1.79</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>1st Semester, Third Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister / GWA: 1.75</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2nd Semester, Third Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister / GWA: 1.64</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>BSU MABINI - Sports Fest</ion-card-subtitle>
      <ion-card-title>Mythical 6</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>BSU MABINI - Sports Fest</ion-card-subtitle>
      <ion-card-title>Most Valuable Player</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Manghinao Proper Volleyball Mens Divison</ion-card-subtitle>
      <ion-card-title>Season's MVP 2022</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
