<ion-header>
  <ion-toolbar>
    <ion-title>Volleyball & Academic Awards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>1st Semester, Second Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2nd Semester, Second Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>1st Semester, Third Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister / GWA: 1.75</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>2nd Semester, Third Year</ion-card-subtitle>
      <ion-card-title>Dean's Lister / GWA: 1.64</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
