<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Favorite Hobbies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/ball.jpg">
      <ion-card-title> VOLLEYBALL </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/ml.jpg">
      <ion-card-title> MOBILE GAMES </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/cf.jpg">
      <ion-card-title> CROSSFIRE </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/valo.jpg">
      <ion-card-title> VALORANT </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
