<ion-header>
  <ion-toolbar>
    <ion-title >HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Label 1</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
      
    </ion-item>
  
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input placeholder="Enter Input"></ion-input>
      </ion-item>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
  </ion-card>
</ion-content>
