

<ion-content>
  <ion-button>
    <ion-icon slot="start" name="menu"></ion-icon>
  </ion-button>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Callie Alleigh</ion-card-title>

      <ion-item>
        <ion-icon name="id-card" slot="start"></ion-icon>
        <ion-label>Student Information</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
      
      <ion-item>
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Volleyball Awards</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>

      <ion-item>
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Kpop Groups</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
  
    </ion-card-header>
  </ion-card>
</ion-content>

