<ion-header>
  <ion-toolbar>
    <ion-title >CALLIE ALLEIGH </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/izone.jpg" width="460" height="345">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Callie Alleigh</ion-card-title>

      <ion-item>
        <ion-icon name="id-card-outline" slot="start"></ion-icon>
        <ion-label>Student Information</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
      
      <ion-item>
        <ion-icon name="list-outline" slot="start"></ion-icon>
        <ion-label>Volleyball Awards</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>

      <ion-item>
        <ion-icon name="list-outline" slot="start"></ion-icon>
        <ion-label>Kpop Groups</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>
  
    </ion-card-header>
  </ion-card>
</ion-content>

